.container {
  display: flex;
}

.mainSection {
  padding-left: 64px;
  padding-top: 20px;
}

.mainSection h1 {
  font-weight: 600;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
