.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
  font-weight: 400;
  width: 70px;
}

.container input[type="text"] {
  width: 500px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 8px;
}
