/* Default styles for the button */
.container {
  width: 100px;
  height: 35px;
  background-color: rgb(99, 129, 243);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

/* Primary variant */
.primary {
  background-color: rgb(99, 129, 243);
}

.primary:hover {
  background-color: rgb(108, 135, 243);
}

.primary:active {
  background-color: rgb(99, 129, 243);
}

/* Secondary variant */
.secondary {
  background-color: rgb(243, 243, 243);
  color: rgb(99, 129, 243);
  border: 1px solid rgb(99, 129, 243);
}

.secondary:hover {
  background-color: rgb(230, 230, 230);
}

.secondary:active {
  background-color: rgb(220, 220, 220);
}

/* Danger variant */
.danger {
  background-color: rgb(243, 99, 99);
}

.danger:hover {
  background-color: rgb(243, 108, 108);
}

.danger:active {
  background-color: rgb(243, 99, 99);
}
