.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 64px;
  flex-shrink: 0;
  border-right: 1px solid rgba(128, 128, 128, 0.183);
  background-color: white;
  height: 100vh;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.08);
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 40px 0;
}

.bottomSection {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.icon {
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(59, 131, 246, 0.116);
}

.logoutIcon {
  cursor: pointer;
}
