@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: var(--footer-width);
  color: white;
  font-weight: 300;
  font-size: 18px;
  background-color: rgba(31, 41, 55, 1);
}

.author {
  font-size: 18px;
  margin-left: -4px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
